<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script></script>
</head>
<body>
<main>
    <h1 th:text="#{nav.forgotPassword}"/>
    <form th:replace="~{fieldset/form :: form(${forgotPasswordForm})}"></form>
    <th:block th:if="${alert}"><div th:replace="~{bootstrap/_alert :: alert(${alert})}"></div></th:block>
    <hr/>
    <p class="mt-3" th:utext="#{password.forgot.warning}"/>
    <p class="mt-3"><a href="/security/login" th:text="#{password.forgot.back}"></a></p>
</main>
</body>
</html>
