<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script></script>
</head>
<body>
<main>
    <a th:href="@{|/profile/edit|}" th:text="#{profile.edit}"></a>

    <table class="table">
        <thead>
        <tr>
            <th th:text="#{title.timeZone}">
            <th th:text="#{title.firstDayOfWeek}">
            <th th:text="#{title.timeFormat}">
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${profile.timeZone}">
            <td th:text="${profile.firstDayOfWeek}">
            <td th:text="${profile.timeFormat}">
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>