<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script></script>
</head>
<body>
<main>
    <a th:href="@{|/profile/edit|}" th:text="#{profile.edit}"></a>

    <h1 th:text="${profile.id}"></h1>
    <h2 th:text="${profile.email}"></h2>
    <h4 th:text="${profile.timeZone}"></h4>
    <h5 th:text="${profile.firstDayOfWeek}"></h5>
    <h6 th:text="${profile.timeFormat}"></h6>
</main>
</body>
</html>