<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script></script>
</head>
<body>
<main>
    <th:block th:if="${breadcrumbs}">
        <nav th:replace="~{bootstrap/_breadcrumbs :: breadcrumbs(${breadcrumbs})}"></nav>
    </th:block>
    <a href="/question/list" th:text="#{question.list}"></a>
    <a th:href="@{|/question/${question.id}/edit|}" th:text="#{question.edit}"></a>
    <h1 th:text="${question.title}"></h1>

    <th:block th:if="${form}">
        <form th:replace="~{fieldset/form :: form(${form})}"></form>
    </th:block>
    <div th:replace="~{answer/_list :: answers(${answers})}"></div>
</main>
</body>
</html>